.dropdown-subreddit {
  border: 1px solid #2f2f31;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0 0 4px;
}
.dropdown-subreddit:hover {
  border: 1px solid #4d4e50;
}
.dropdown-subreddit-name {
  color: #dfe3e5;
  display: inline;
  margin: 2px 4px 0 4px;
  font-size: 14px;
  font-weight: 400;
}
